/*
1. RESET
2. PODSTAWOWE ELEMENTY
	2.1. Inputy
3. STYLE KONTENERÓW
	3.1. Rozwijane szczegóły
4. STYLE TEKSTU
*/

/*1. RESET ---------------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	font-family: inherit;
	border: none;
	box-shadow: none;
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	text-decoration: none;
	line-height: 1.6em;
}

pre, code{
	font-family: "fira mono", "courier new", monospace
}

html{
	height: 100%;	
}

body{
	width: 100%;
	min-height: 100%;
	font-size: 1.03em;
	font-family: 'Fira Sans', 'Segoe UI', sans-serif;
	background: #f7f5f1;
	overflow-y: scroll;
}

/*2. PODSTAWOWE ELEMENTY ---------------------------------------------------------------*/

a{
	color: #ff9300;
	cursor: pointer;
}

a:hover{
	animation: fancyColor 1s infinite linear;
}

@keyframes fancyColor{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}

b{
	font-weight: bolder;
}

h1{
	font-size: 1.5em;
	font-weight: bolder;
	padding-left: .5em;
	border-left: 5px solid #000;
	margin: .5em 0;
}
h2{
	font-size: 1.2em;
	font-weight: bolder;
	margin: .5em 0;
}

p{
	margin-bottom: .5em;
}

section{
	margin-bottom: 1.5em;
}

/*2.1. Inputy*/

input{
	border-bottom: 1px solid;
	padding: .3em;
	background: #f0f0f0;
}

button{
	display: block;
	background: #ff9300;
	color: #FFF;
	padding: .3em;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	
}
button:hover{
	animation:  fancyColor 3s infinite linear;
}
button[disabled]{
	background: #d4d4d4;
	pointer-events: none;
}

/*3. STYLE KONTENERÓW ---------------------------------------------------------------*/

.flex-cont{
	display: flex;
	justify-content: center;
	padding-top: 2em;
}

.options-cont{
	align-self: flex-start;
	background: #FFF;
	padding: 1em;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.center-width{
	width: calc(100% - 2em);
	max-width: 40em;
	margin: auto;
}
.flex-cont > .center-width{
	margin: 0 0 0 2em;
}
.tool-cont{
	display: flex;
	margin: .5em 0;
}
.tool-cont-r{
	justify-content: flex-end;
}
.tool-cont > *:not(:last-child){
	margin-right: 1em;
}

/*3.1. Rozwijane szczegóły*/
input.more-switch{
	display: none;
}
input ~ label .more-text:after{
	content: "More"
}
input:checked ~ label .more-text:after{
	content: "Less"
}
.more{
	transition: height .4s ease-in-out, padding .4s ease-in-out, margin .4s ease-in-out;
	overflow: hidden;
	padding: .3em .3em .3em .5em;
	background: rgba(255, 147, 0, 0.1);
	border-left: 2px solid #000;
	margin-bottom: 1em;
}
input:not(:checked) ~ .more{
	height: 0 !important;
	padding: 0 .3em 0 .5em;
	margin-bottom: 0;
}

/*4. STYLE TEKSTU*/

.divider{
	display: flex;
	align-items: center;
	width: 100%;
	margin: .5em -.5em;
}
.divider:after, .divider:before{
	content: "";
	display: block;
	border-bottom: 1px solid #ddd;
	width: 1px;
	flex-grow: 100;
	margin: 0 .5em;
}